<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="RefreshProgresIntervalInMiliseconds" value="200" />
    <add key="MaxDownloadedFiles" value="2" />
    <add key="NumberOfDownloaders" value="2" />
    <add key="FileStoragePath" value="Files//" />
  </appSettings>
</configuration>